body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #000000, #5c5c5c, #000000);
}

a {
    text-decoration: none !important;
}

.main{
	width: 550px;
	height: 500px;
	background: rgb(253, 0, 0);
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 100px #000;
}
.maior{
	width: 1100px;
	height: 950px;
	transition: width 0.5s ease;
}
.maior2{
	position: absolute;
	top: 3%;
	width: 1100px;
	height: 800px;
	transition: width 0.5s ease;
	box-shadow: 5px 20px 100px #000;
	border-radius: 10px;
	overflow: hidden;
	display: inline-block;
}
.retangulo{
	position: absolute;
	top: 80%;
	width: 1100px;
	height: 150px;
	background: rgb(253, 0, 0);
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 100px #000;
	display: inline-block;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
.signdown{
	width: 50%;
	height: 50%;
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input[type="text"], input[type="email"], input[type="password"]   {
	width: 40%;
	height: 20px;
	background: #ffffff;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 30%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #292929;
	font-size: 1em;
	font-weight: bold;
	margin-top: 50px;
	outline: none;
	border: none;
	border-radius: 10px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #131313;
}
.login{
	height: 450px;
	background: #ffffff;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #000000;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}
.error-login {
	position: absolute;
	text-align: center;
	top: -7%;
	left: 0;
	right: 0;
    color: #fff;
    z-index: 2;
	color: red;
}
.error-criar {
	position: absolute;
	text-align: center;
	top: -7%;
	left: 0;
	right: 0;
    color: #fff;
    z-index: 2;
	color: red;
}
.criou {
	position: absolute;
	text-align: center;
	top: -7%;
	left: 0;
	right: 0;
    color: #fff;
    z-index: 2;
	color: rgb(0, 255, 0);
}
.welcome-message {
	position: 50px;
	font-size: 3em;
	font-weight: bold;
	color: rgb(255, 255, 255);
	text-align: center;
}
.botao{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #000000;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 10px;
	outline: none;
	border: none;
	border-radius: 100px;
	cursor: pointer;
	text-align: center;
}
.botaoSair{
	width: 200px;
	max-width: 200px;
	height: 40px;
	/* margin: 50px auto; */
	color: rgb(255, 255, 255);
	background: #000000;
	font-size: 1.5em;
	font-weight: bold;
	border: none;
	border-radius: 100px;
	cursor: pointer;
	text-align: center;
	/* position: 50px; */
	display: flex;
	justify-content: center;
	align-items: center;
}
.botao:hover{
	background: #292929;
}
.botaoSair:hover{
	background: #292929;	
}
.checkbox {
	position: absolute;
	top: 58.3%;
	left: 0;
	right: 27%;
}
.checkboxL {
	position: absolute;
	text-align: center;
	font-size: 1em;
	top: 46%;
	left: 6%;
	right: 0;
}
.textarea{
	min-height: 400px;
	max-height: 400px;
	min-width: 600px;
	max-width: 600px;
	border-radius: 5px;
	margin-top: 30px;
	font-family: arial, sans-serif !important;
	padding: 5px;
}
.noticia-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 12%;
	font-size: 1em;
	font-family: arial, sans-serif !important;
	font-weight: 100;
}
.botoes-form {
	margin-top: 10px;
	display: flex;
	font-size: 0.8em;
	width: 440px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.botao-cadnoticia{
	position: absolute;
	left: 2.5%;
	width: 15%;
	height: 100px;
	margin: 10px auto;
	justify-content: center;
	display: inline-block;
	color: #fff;
	background: #000000;
	font-size: 1em;
	font-weight: bold;
	/* margin-top: 10px; */
	border-radius: 5px;
	cursor: pointer;
	/* text-align: center; */
}
.botao-editnoticia{
	position: absolute;
	left: 22%;
	width: 15%;
	height: 100px;
	margin: 10px;
	justify-content: center;
	display: inline-block;
	color: #fff;
	background: #000000;
	font-size: 1em;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
}
.botao-remnoticia{
	position: absolute;
	left: 42%;
	width: 15%;
	height: 100px;
	margin: 10px;
	justify-content: center;
	display: inline-block;
	color: #fff;
	background: #000000;
	font-size: 1em;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
}
.botao-listnoticia{
	position: absolute;
	left: 61.5%;
	width: 15%;
	height: 100px;
	margin: 10px;
	justify-content: center;
	display: inline-block;
	color: #fff;
	background: #000000;
	font-size: 1em;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
}
.botao-sair{
	position: absolute;
	left: 81.3%;
	width: 15%;
	height: 100px;
	margin: 10px;
	justify-content: center;
	display: inline-block;
	color: #fff;
	background: #000000;
	font-size: 1.5em;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
}