<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Miltogro - Noticias da Católica</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="slide navbar style.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    
    
    <div class="retangulo">
        <p></p>
        <form action="/cadastrar-noticia" method="post">
            <button class="botao-cadnoticia">Cadastrar Notícia</button>
        </form>
        <p></p>
        <form action="">
            <button class="botao-editnoticia">Editar Notícia</button>
        </form>
        <p></p>
        <form action="">
            <button class="botao-remnoticia">Remover Notícia</button>
        </form>
        <p></p>
        <form action="">
            <button class="botao-listnoticia">Listar Notícia</button>
        </form>
        <p></p>
        <form action="/">
            <button class="botao-sair">Sair</button>
        </form>
    </div>
    <div class="maior2">  	

            <div class="welcome-message">
                <p style="font-size: big">Bem - vindo</p>
    </div>
    
</body>